<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="partials/head :: head('All Ads')">
        <meta charset="UTF-8">
    </head>
<body>

<nav th:include="/partials/navbar :: navbar-md"></nav>

<h1>View the page for viewing all Ads</h1>

<nav th:include="/partials/searchbar :: searchbar"></nav>

<main class="container">
    <div class="card" th:each="ad : ${ads}">
        <h3 class="text-center" th:text="${ad.title}"></h3>
        <h6 th:text="${ad.description}"></h6>
    </div>
</main>

<footer th:replace="partials/partials :: footer"></footer>

</body>
</html>